#textInput {
    border: none;
    border-bottom: 3px solid aqua;
}
.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}
.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}
.botText {
    color: rgb(12, 7, 7);
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}
.botText span {
    background-color: rgb(18, 230, 148);
    padding: 10px;
    border-radius: 2px;
}
.h1 , h1{
    color: #9f6363;
}
#keyword{
    color:rgb(228, 34, 17);
}
#chatbox{
    background-color: beige;
}