<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Document</title>
</head>
<body>

<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
          <h1 class="title is-4" style="color:red">RAPID RELIEF</h1>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item" href="/index">
        Home
        </a>
        <a class="navbar-item" href="#about_us">
        About Us
        </a>
        <a class="navbar-item" href="/aid">
        First Aid
         </a>
        <a class="navbar-item" href="#donate">
        Donation
         </a>
          <a class="navbar-item" href="">
            Training and Certificate
         </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/volunteer">
          Volunteer
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/volunteer#apply">
            Apply For Volunteer
          </a>
          <a class="navbar-item" href="/volunteer#volunteer_role">
            Role of Volunteer
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="">
            Elements
          </a>
          <a class="navbar-item is-active" href="">
            Components
          </a>
        </div>
      </div>
      {% if current_user.is_anonymous %}
        <a class="navbar-item" href="/lerner_login">
          Login
        </a>
      {% else %}
        <a class="navbar-item" href="/lerner_logout">
          Logout
        </a>
      {% endif %}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
              <span class="icon">
                <i class="fas fa-shopping-cart"></i>
              </span>
              <span>
                Shop
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" href="">
              <span class="icon">
                <i class="fas fa-heart"></i>
              </span>
              <span>General Help</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="container">
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        DISASTER
      </h1>
      <h2 class="subtitle">
        Everyone had the choice to sulk in the disaster or find beauty even from the ashes <br>--S.S.Jubilee
      </h2>
        <p>If you have any trouble ask on the Chat Bot</p><br>
        <a href="/Chatbot"> <button class="button is-rounded"> Chat Bot</button> </a>
    </div>
  </div>
</section>
<section class="section" id="about_us">
    <div class="container">
        <h1 class="title is-2 has-text-primary has-text-centered" id ="about">ABOUT US</h1><br>
        <p class="has-text-centered">We are providing help for all people who are in trouble</p><br><br><br>
    <div class="columns">
        <div class="column" style="background-color: #BFDDE0; border-radius: 30px">
             <h1 class="title is-4 has-text-primary has-text-centered">Disaster</h1>
                <p class="has-text-justified">
                    A disaster is a sudden, calamitous event that seriously disrupts the functioning of a community or society and causes human, material, and economic or environmental losses that exceed the community’s or society’s ability to cope using its own resources. Though often caused by nature, disasters can have human origins.
                </p>
             <h6 class=" has-text-centered">If you are facing any disaster tha click the button below </h6><br>
            <button class="button is-primary is-light"><a href="">Help</a></button>
        </div>
        <div class="column" style="background-color: lightgoldenrodyellow; border-radius: 30px;margin-left: 15px">
            <h1 class="title is-4 has-text-info has-text-centered" >Accident</h1>
            <p class="has-text-justified">An accident is an unplanned event that sometimes has inconvenient or undesirable consequences, other times being inconsequential. The term implies that such an event may not be preventable since its antecedent circumstances go unrecognized and unaddressed.</p>
            <br>
             <h6 class=" has-text-centered">If you are facing any accident tha click the button below </h6><br>
            <button class="button is-info is-light "><a href="">Help</a></button>
        </div>
        <div class="column" style="background-color:lightpink; border-radius: 30px; margin-left: 15px">
            <h1 class="title is-4 has-text-danger has-text-centered" >Attack</h1>
            <p class="has-text-justified">To attack a person or place means to try to hurt or damage them using physical violence. Fifty civilians were killed when government planes attacked the town.</p>
            <br><br><br>
             <h6 class=" has-text-centered">If you are facing any attack tha click the button below </h6><br>
            <button class="button is-danger is-light"><a href="">Help</a></button>
        </div>

        </div>
    </div>
</section>
<br><br>
<section class="section" style="background-color: gold" id="donate">
<div class="container">
  <article class="message">
    <div class="message-header">
        <p>
        Donate Now to Disaster Relief
        </p>
    </div>
      <div class="message-body">
          Help people affected by disasters big and small.
          <br><br>
          <button class="button is-danger">DONATE NOW</button>
      </div>
  </article>
</div>
    <br><br>
    <div class="content has-text-centered">
			<p><span><i class="fas fa-copyright"></i></span>
        Copyright by Rapid Relief</p>
		</div>
</section>
<br><br>


</body>
</html>
