{% import 'bootstrap/wtf.html' as wtf %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Login</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="block">
        {% with messages=get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <h1 class="title">Login</h1><br>

        <form action="" method="post">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              {{ wtf.form_field(form.username, class="input is-info") }}
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              {{ wtf.form_field(form.password, class="input is-info") }}
              <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
              </span>
            </div>
          </div>
          <div class="field">
            {{ wtf.form_field(form.remember_me, class="input is-info") }}
          </div>
          <div class="field">
            {{ wtf.form_field(form.submit, class="button is-primary is-medium", id="login") }}
            <button class="button is-danger is-medium"><a href="/index" style="color:white">Cancel</a></button>
          </div>
        </form>
        <br><br>
        <p>For new user click on the button below to register as a lerner.</p>
        <br><br>
        <button class="button is-info is-medium"><a href="/lerner_reg" style="color:white">Register</a></button>
      </div>
  </body>
</html>